.dash-b {
  background: url("https://media.istockphoto.com/id/1419766496/photo/abstract-concepts-of-cybersecurity-technology-and-digital-data-protection-protect-internet.jpg?b=1&s=612x612&w=0&k=20&c=mMG_-IOsy9IOupqSDvEbeqduD-LGZ3bBp1fZ5pXoIwA=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  top: 0;
  bottom: 0;
  overflow: auto;
}

/* .nav-b {
  bac
} */
